<!-- 
Counter Analytics - counter.dev
 - No Cookies. No logging. No IP address fingerprinting.
 - Counter does not collect personal data.
 - Counter is committed to complying with GDPR, CCPA, PECR and other privacy regulations.
 - The source code is published under the AGPL‑v3 licence - https://github.com/ihucos/counter.dev 
-->
<script src="https://cdn.counter.dev/script.js" data-id="e8c4ac17-b831-4d09-99fc-d5c9883f0baf" data-utcoffset="2"></script>

<script src="/js/header_console.js"></script>